* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow: auto;
}

a {
    text-decoration: none;
    color: white;
}

:root {
    --color01: rgb(25, 85, 170);
    --color02: rgb(75, 135, 215);
}

#secArea {
    width: 100%;
    height: 100vh;
    background: linear-gradient(var(--color01), var(--color02));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 55px;
}

#secAreaSpaces {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

#secAreaSpaces a {
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 35px;
}
#secAreaSpaces a:hover {
    background-color: var(--color02);
}

#spaceArea-title {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

#secForm {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--color02);
}

#secFormTitle {
    color: white;
    font-size: 28px;
    text-align: center;
}

#formHtmlArea {
    margin-top: 20px;
    margin-bottom: 10px;
}

#confirmForm {
    display: flex;
}

#confirmForm a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 150px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
}


#confirmForm a:hover {
    background-color: var(--color01);
}

.formRegistrationSpan {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 0px 10px;
    padding: 0px 3px;
    color: red;
}